//colors
$blue: #154854;
$lightBlue: #19a0b5;
$brown: #c8c2ae;
$lightBrown: #e3dcc2;
$haki: #d2ccb6;
$darkBorder: #000d22;
$regularBorder: #1b1528;
$pink: #c7444a;
$black: black;
$gray: #6f6a6a;
$lightGray: #9f9a9adb;
$yellow: yellow;
$white: white;
